[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IDEAFilter"]
	path = IDEAFilter
	url = https://github.com/biogen-inc/ideafilter
	shallow = true
	registered = true
