[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IDEAFilter"]
	path = IDEAFilter
	url = https://github.com/biogen-inc/ideafilter
[submodule "tidyCDISC"]
	path = tidyCDISC
	url = https://github.com/biogen-inc/tidycdisc
